{{ define "main" }}
<content>
  {{ with .Content }}
    {{ . }}
  {{ end }}
  {{ with site.GetPage "page" "about" }}
    {{ $paragraphs := findRE "(?s)<p.*?>.*?</p>" .Content }}
    {{ $firstParagraph := "" }}
    {{ if gt (len $paragraphs) 0 }}
      {{ $firstParagraph = index $paragraphs 0 }}
    {{ else if .Summary }}
      {{ $firstParagraph = .Summary }}
    {{ end }}
    {{ if $firstParagraph }}
      <section class="home-about" aria-labelledby="home-about-heading">
        <p class="home-about__eyebrow">Quick intro</p>
        <h2 id="home-about-heading">{{ .Title }}</h2>
        <div class="home-about__excerpt">
          {{ $firstParagraph | safeHTML }}
        </div>
        <a class="home-about__link" href="{{ .RelPermalink }}">
          Read more
          <span aria-hidden="true">→</span>
        </a>
      </section>
    {{ end }}
  {{ end }}
  {{ $posts := where .Site.RegularPages "Section" "posts" }}
  {{ $currentYear := "" }}
  <ul class="blog-posts">
    {{ range $posts.ByDate.Reverse }}
      {{ $year := .Date.Format "2006" }}
      {{ if ne $year $currentYear }}
        {{ if ne $currentYear "" }}
          </ul>
          <div class="year-spacer" aria-hidden="true"></div>
          <ul class="blog-posts">
        {{ end }}
        <li class="year-heading"><span>{{ $year }}</span></li>
        {{ $currentYear = $year }}
      {{ end }}
    <li>
      <span>
        <i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
          </time>
        </i>
      </span>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
    </li>
    {{ else }}
    <li>No posts yet</li>
    {{ end }}
  </ul>
  <small>
    <div>
      {{ range .Site.Taxonomies.tags }}
      {{ partial "tag_link.html" .Page }}&nbsp;
      {{ end }}
    </div>
  </small>
</content>
{{ end }}
